<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <!-- Include Lucide icons -->
    <script src="https://unpkg.com/lucide@latest"></script>
    <title>Helpdesk Público</title>
</head>

<body>
    <!-- Inclui o ficheiro nav.ejs -->
    

    <%- include('components/button') %>

        

            <script>
               
            </script>
</body>

</html>